/coverage
/node_modules
/public/hot
/public/storage
/public/images
/public/js
/public/css
/public/assets
/public/common*
/public/conversions*
/public/manifest.json
/public/mix-manifest.json
/public/font-awesome-pro
/resources/font-awesome-pro
/public/fonts
/public/font-awesome-pro
/public/receipts/*
/resources/font-awesome-pro
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
circleci
.bash_profile
phpcs.phar
.vscode/**
.idea/
_ide_helper.php
.phpstorm.meta.php
.DS_Store
*.DS_Store
.env.testing
composer.phar
package-lock.json
composer.lock