
/**
 * Font size
 */
.font-size-rem-01 {
  font-size: 0.1rem;
}
.font-size-rem-02 {
  font-size: 0.2rem;
}
.font-size-rem-03 {
  font-size: 0.3rem;
}
.font-size-rem-04 {
  font-size: 0.4rem;
}
.font-size-rem-05 {
  font-size: 0.5rem;
}
.font-size-rem-06 {
  font-size: 0.6rem;
}
.font-size-rem-07 {
  font-size: 0.7rem;
}
.font-size-rem-08 {
  font-size: 0.8rem;
}
.font-size-rem-09 {
  font-size: 0.9rem;
}
.font-size-rem-1 {
  font-size: 1rem;
}
.font-size-rem-11 {
  font-size: 1.1rem;
}
.font-size-rem-12 {
  font-size: 1.2rem;
}
.font-size-rem-13 {
  font-size: 1.3rem;
}
.font-size-rem-14 {
  font-size: 1.4rem;
}
.font-size-rem-15 {
  font-size: 1.5rem;
}

/**
 * Font weight
 */
.font-weight-100 {
  font-weight: 100;
}
.font-weight-200 {
  font-weight: 200;
}
.font-weight-300 {
  font-weight: 300;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-800 {
  font-weight: 800;
}
.font-weight-900 {
  font-weight: 900;
}
.font-weight-normal {
  font-weight: normal;
}
.font-weight-bold {
  font-weight: bold;
}
.font-weight-lighter {
  font-weight: lighter;
}